{% extends "layout.html" %}
{% block body %}

<!-- toppage -->

<div class="row">
  <div class="span4">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Category</li>
	{% for category in categories %}
	{% if active_category == category.cate %}
	<li class="active"><a href="/category/{{category.cate}}">{{category.cate}} ({{category.num}})</a></li>
	{% else %}
        <li><a href="/category/{{category.cate}}">{{category.cate}} ({{category.num}})</a></li>
	{% endif %}
	{% endfor %}
        <li> <a href="/list" class="nav-header">最近の投稿(記事一覧へ)</a></li>
	<ul>
	{% for article in recentries %}
        <li><a href="/archives/{{article.id}}" >{{article.title}}</a></li>
	{% endfor %}
	</ul>
        <li class="nav-header">リンク</li>
        <li><a href="http://daringfireball.net/projects/markdown/">DARING FIREBALL</a></li>
	<li><a href="http://packages.python.org/Markdown/index.html">Python-Markdown</a></li>
        <li><a href="http://genkuroki.web.fc2.com/">MathJaxの使い方</a></li>
      </ul>
    </div>
    <div id="google-CustomSearch">
      <!-- google CustomSearchを挿入する -->
    </div>
  </div>

  <div class="span7">
    {% for article in articles %}
    <div class="span7">
      <div id="article{{article.id}}" class="span8">
	<div id="title{{article.id}}" class="row">
	  <h2> <a href="/archives/{{article.id}}"> {{ article.title }} </a> </h2>
	</div>
	<div id="date{{article.id}}" class="row">
	  <div class="span3">
	    <p class="muted"> {{ article.date_time }}</p>
	  </div>
	  <div class="span5">
	      {% for category in article.category %}
	      {% if not category == "" %}
	      <a href="/category/{{category}}" class="label"> {{ category }} </a>
	      {% endif %}
	      {% endfor %}
	  </div>
	</div>
	<div id="contents{{article.id}}" class="row">
	  {{ article.contents|safe }}
	</div>
	<div id="category-cooment{{article.id}}" class="row">
	  <div class="span2">
	    <a href="/archives/{{article.id}}"> コメントする </a>
	  </div>
	</div>
      </div>
    </div>
    {% else %}
    <p class="text-error"> Unbelievable. No entries here so far</p>
    {% endfor %}
    
    <div id="pagination" class="span9">
      <hr>
      {% if not pagination.last %}
      <div class="span4">
	<a href={{pagination.older}}> << Older </a>
      </div>
      {% endif %}
      {% if pagination.newer !="/page/0" %}
      <div class="span4">
	<a href={{pagination.newer}}> Newer >> </a>
      </div>
      {% endif %}
    </div>
  </div><!--/span9-->
</div><!--/row-->

{% endblock %}
